<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <!-- add stylesheet -->
  <link href="/assets/css/home.css" rel="stylesheet" type="text/css">
</head>

<body>
  <!-- entire app -->
  <div id="app">
    <!-- app heading and subheading -->
    <div id="heading-and-list-of-projects">
      <h1>Issue Tracker</h1>
      <hr>
      <h2>list of projects</h2>

      <!-- list of projects -->
      <%if(locals.projects.length !==0){%>
        <ul id="project-list">
          <% for(let i=0;i< projects.length;i++){ %>
            <li>
              <div class="project-info">
                <p>
                  <%= projects[i].name%>
                    <medium>(<%= projects[i].author%>)</medium>
                </p>
              </div>
              <a href="./details/<%= projects[i].id%>">Details</a>
            </li>
            <% } %>

        </ul>
        <%}else{%>
          <h3 style="padding: 20px;margin-top: 50px;font-family: cursive;">No Project is present in our database...</h3>
          <%}%>
    </div>

    <!-- create project form and button html code -->
    <div id="create-project-form-and-btn">
      <a href="/create-project" id="create-project-btn">Create Project</a>
    </div>
  </div>

</body>

</html>