<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <!-- add stylesheet -->
  <link href="/css/home.css" rel="stylesheet" type="text/css">
</head>

<body>
  <!-- entire app -->
  <div id="app">
    <!-- app heading and subheading -->
    <div id="heading-and-list-of-projects">
      <h1>Issue Tracker</h1>
      <!-- create project form and button html code -->
      <div class="creat-project-btn-container">
        <a href="/create-project" id="create-project-btn">Add New Project</a>
      </div>

      <!-- list of projects -->
      <%if(locals.projects.length !==0){%>
        <ul id="project-list">
          <% for(let i=0;i< projects.length;i++){ %>
            <li>
              <div class="project-info">
                <p>
                  <%= projects[i].name%>
                    <medium>(<%= projects[i].author%>)</medium>
                </p>
              </div>
              <a href="./details/<%= projects[i].id%>">Get Details</a>
            </li>
            <% } %>
        </ul>
        <%}else{%>
          <h3 style="padding: 20px; margin-top: 50px;font-family: cursive;">Add New Project To Display Here
          </h3>
          <%}%>
    </div>
  </div>
</body>

</html>